@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1;
  color: #202020;
  background-color: #fafafa;
  font-family: 'Source Sans Pro', sans-serif;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

button,
a {
  cursor: pointer;
}

img {
  display: block; /* removes extra space */
}
